<div class="well">
    <div class="col-lg-6">
  <h2><%= @objective.title %></h2>
  <% if current_user %>
    <h4><%= @objective.notes   %></h4>
    <br>
  <% end %>

  </div>
</div>

<%= render 'layouts/links' %>