<div class="well">
  <div class="col-lg-6">
    <h2>Profile:</h2>
    <% if current_user %>
      <h4>Name: <%= current_user.name  %><h4>
      <p>Email: <%= current_user.email %></p>
      <br>
      <p><small>View a trip and its objectives!</small></p>
      <a class="btn btn-lg btn-primary" id="trips" role="button">Trips:</a>
      <a id="trip-objectives" role="button"></a>
      <div id="mo-trips"></div>
    <% end %>
  </div>
</div>


<script type="text/javascript" charset='utf-8'>
  $(function() {

    var resetElement = function(element1, element2, window) {
        // removing the element1 if it exists to avoid adding duplicates
        $(element1).remove();
        // adding element2 to the current window
        window.after(element2);
    }  

    var showTrips = function(id, obj) {
      var data            = obj,
          objectiveButton = '<span class="btn btn-sm btn-primary" id="trip-objectives" role="button" data-url="/trips/'+id+'">Objectives</span>',
          // variable below is a delete form for the current trip
          deleteTripButton    = '<form class="button_to" method="post" action="/trips/'+id+'"><input type="hidden" name="_method" value="delete"><input data-confirm="Are you sure?" type="submit" value="Delete Trip"><input type="hidden" name="authenticity_token" value="FfWqol5ahhhu7d8j8MgzrmjajPRoUdRqLYm8PGIUoSfwOgqOSGQ/kz9rpozZvv4ht0gndB8Y1DVGu4Svn3nnzQ=="></form>';
          
      $('#mo-trips').append('<br><a class="btn btn-info" href=/trips/'+id+'>'+data.title+'</a>'+'  '+data.description+'<br><br>'+objectiveButton+'<br><br>'+deleteTripButton);
    }

    var ajaxRequest = function(url, callback) {
      $.ajax({
        dataType: 'json',
        url: url,
        method: 'GET',
        success: callback
      })
    }

    var addObjectives = function(element) {
      var url = element.attr('data-url');

      // Resetting the div based on element clicked on. If it exists reset, otherwise add it.
      resetElement('div[data-url="'+url+'"]', "<div data-url="+url+"></div>", $('span[data-url="'+url+'"]'));

      var objectives = function(data) {
          $.each(data, function(index,key) {
            // Inserting objectives before the delete button for the corresponding trip
            $('div[data-url="'+url+'"]').append("<br><a href="+url+"/objectives/"+data[index].id+">"+data[index].title+"</a><li>"+data[index].notes+"</li>")
          })
        }

      // getting and adding objectives
      ajaxRequest(url, objectives);

    }

    $("#trips").click(function() {
      var url = "/trips";
      resetElement("div#mo-trips", "<div id=mo-trips></div>", $(this));

      var tripsIndex = function(data) {
        $.each(data, function(index,key) {
          var id = data[index].id;
          // adds trips to page and also adds delete buttons but without ids
          showTrips(id, data[index]); 
        });

        // delegated event handler so that when a specific element is selected an action is called
        $("div#mo-trips").on("click", "span#trip-objectives", function() {
          // adding objectives for trip selected accordingly
          addObjectives($(this));
        })
      }
      
      // getting index of trips
      ajaxRequest(url, tripsIndex);
    })
    
  });

</script>

<%= render 'layouts/links' %>
